{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
          <style>
            .lightbox {
              display: none;
              position: fixed;
              object-position: center;
              z-index: 1000;
              padding: 10em 62px 0px 62px;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              overflow: auto;
              background-color: rgba(0, 0, 0, 0.9);
            }
            .lightbox-content {
              margin: auto;
              display: block;
              max-width: 70%;
              height: auto;
              cursor: pointer;
              padding: 0 0 0 0
            }
            .lightbox-close {
              position: absolute;
              top: 15px;
              right: 35px;
              color: #fff;
              font-size: 40px;
              font-weight: bold;
              transition: 0.3s;
            }
            .lightbox-close:hover,
            .lightbox-close:focus {
              color: #bbb;
              text-decoration: none;
              cursor: pointer;
            }
           </style>
           <script>
            function showImage(src) {
              document.getElementById('main-image').src = src;
            }
            function openLightbox() {
              document.getElementById('lightbox').style.display = 'block';
              document.getElementById('lightbox-image').src = document.getElementById('main-image').src;
            }
            function closeLightbox() {
              document.getElementById('lightbox').style.display = 'none';
            }
           </script>
           <div class="page-header pb-4">
            <h6>
            <i class="fa-solid fa-brush mr-2"></i> {{ .Title }}</h6>
          </div>
          <div class="w-full flex mt-4 mb-5">
            {{ $galleryimg:= .Params.skingallery }}
            {{ if $galleryimg }}
            <div class="flex w-auto justify-center">
              {{/*  Display main image  */}}
             <img id="main-image" alt="{{ .Title }}" 
             class="thumbnail" 
             onclick="openLightbox()"
             {{ $mainimg:= .Params.mainimage}}
             {{ if $mainimg }} 
             src="https://i.imgur.com/{{ .Params.mainimage }}.jpg" {{ else }}
             src="/{{.Params.image}}"
             {{ end }} 
             style="width: auto; height: 545px;"/>
            </div>
            {{/*  Display Team  */}}
            <div class="flex flex-col justify-start ml-4 mb-2 space-y-4" style="margin-bottom:10px">
              <div class="flex thumbnail justify-center" style="padding-top: 8.5px; padding-bottom: 8.45px">
                <a href="/tags/{{ .Params.teamname | urlize }}"><img class="cursor-pointer" src="/images/{{ .Params.teamname | urlize | lower }}.png" style="max-width: 150px; max-height: 36px;"/></a>
               </div>
               {{/*  Show small main image on the list gallery  */}}
              <div class="flex justify-center" style="margin-top: 4px">
                <img 
                {{if .Params.mainimage }}
                onclick="showImage(`https://i.imgur.com/{{ .Params.mainimage }}.jpg`)" {{ else }}
                onclick="showImage(`/{{ if .Params.image2}}{{.Params.image2}}{{else}}{{.Params.image}}{{end}}`)"
                {{ end }}
                class="cursor-pointer"
                {{if .Params.mainimage }}
                src="https://i.imgur.com/{{ .Params.mainimage }}.jpg" {{ else }}
                src="/{{ if .Params.image2 }}{{.Params.image2}}{{else}}{{.Params.image}}{{end}}" {{ end }}
                style="width: 165px; max-height: 88px;"/>
               </div>
            {{ range $galleryimg }}
             <div class="flex justify-center">
              <img onclick="showImage(`https://i.imgur.com/{{ . }}.jpg`)" class="cursor-pointer" src="https://i.imgur.com/{{ . }}.jpg" style="width: 165px; max-height: 92px;"/>
             </div>
              {{ end }}

               {{ else }}
               <div class="flex w-auto center justify-center">
                {{ if .Params.image2 }}
                <img id="main-image" class="thumbnail cursor-pointer shadow-lg" onclick="openLightbox()" src="/{{.Params.image2}}" style="max-width: auto; height: 610px;"/>
                {{ else if .Params.mainimage }}
                <img id="main-image" class="thumbnail cursor-pointer shadow-lg" onclick="openLightbox()" src="https:/i.imgur.com/{{.Params.mainimage }}.jpg" style="max-width: auto; height: 610px;"/>
                {{ else }}
                <img id="main-image" class="thumbnail cursor-pointer shadow-lg" onclick="openLightbox()" src="/{{.Params.image}}" style="max-width: auto; height: 610px;"/>
                {{ end }}
              {{ end  }}
            </div>
           </div>
           <div id="lightbox" class="lightbox" onclick="closeLightbox()">
            <span class="lightbox-close" onclick="closeLightbox()">&times;</span>
            <img class="lightbox-content" id="lightbox-image">
            </div>
          {{ if eq (len .Content) 0 }} {{ else }} <hr> {{ end }}

          <div class="content">
            {{/*  {{ partial "toc.html" (dict "Class" "blog" "Collapsed" false "TableOfContents" .TableOfContents ) }}  */}}
            {{ .Content }}
          </div>
          <hr style="margin-bottom: 12px;">

          <style>
            p.inborder {
              position: absolute;
              background: white;
              font-size: 0.85rem;
              line-height: 0.1;
              padding: 0 0.25rem;
              margin-left: 0.6rem;
              display: inline-block;
              z-index: 2;
          }
          </style>
          {{ $cspreq:= .Params.csp}}
          {{ $cspreq1:= .Params.csp1}}
          {{ $skinrq:= .Params.skinrequire}}
          {{ $skinrqlink:= .Params.skinrequirelink}}
          {{ if in $cspreq "No" }}
          {{ else }}
          <div class="notice warning" style="margin-bottom:12px">
            <div class="notice-head"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="22" height="22">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"></path>
            </svg><p>Mod Requirements</p>
            </div>
            <div class="notice-body "><p>This {{ if eq .Params.misctype "Skin"}} skin {{else}} mod {{end}} requires <b>Custom Shader Patch (CSP) {{ .Params.csp }} </b> public or newer. You can get latest CSP 0.28 preview 1 <a href="/misc/csp-028-preview1/"><strong>HERE</strong></a>!</p></div>
          </div>
          {{ end }}
          {{ if $skinrq }}
          <div class="notice info mt-2" style="margin-top: 4px;margin-bottom:5px">
            <div class="notice-body" style="margin-top:1px"><p>This skin requires <b> {{ if $skinrq }}<a href="{{ .Params.skinrequirelink }}">{{ end }}{{ .Params.skinrequire }} </b></a> to work properly.</p></div>
          </div>
          {{ end }}
          <div class="flex items-center justify-center w-full py-2">
            <div class="overflow-x-auto w-full">
                    <div class="flex space-x-2">
                        <div class="text-left px-2 py-2 grid grid-cols-2 rounded-lg gap-1 border content-center w-1/2" style="padding-left:23px; border-radius: var(--radius-sm);">
                            <div>
                                <p>Type: <b>{{ .Params.misctype}}</b></p>
                              </div>
                              <div style="padding-left:25px">
                                <p>File Size: <b>{{ .Params.zipsize}}</b></p>
                              </div>
                              <div>
                                <p>{{ if eq .Params.misctype "Skin" }}Skin collection of {{ else }}Collection of {{end}} <a href="/tags/{{ .Params.creator }}" class="font-bold">{{ .Params.creator}}</a></p>
                                </div>
                                <div style="padding-left:25px">
                                  <p>Version: <b> {{ .Params.version }} </b></p>
                                  </div>
                        </div>
                        <div class="text-center rounded-lg border flex items-center justify-center w-1/4" style="border-radius: var(--radius-sm);">
                          {{ if .Params.link2 }}
                          <a href="{{ .Params.link2 }}"><img alt={{ .Params.hosts2 }} class="mx-auto" src="/images/{{ .Params.host2 }}.png" width="168"></a>
                          {{ else }}
                          <a href="{{ .Params.creatorlink }}" target="_blank"><img class="mx-auto" src="/images/{{ .Params.creator | urlize }}.png" style="max-height:65px"></a>
                          {{ end }}
                      </div>
                        <div class="text-center border flex items-center justify-center w-1/4" style="border-radius: var(--radius-sm);">
                          <a href="{{ .Params.link }}" target="_blank"><img alt={{ .Params.host }} class="mx-auto" src="/images/{{ .Params.host }}.png" style="max-width:180px"></a>
                      </div>
                    </div>
                </div>
            </div>
            {{ if eq .Params.misctype "Skin" }}
            <div class="flex items-center justify-center w-full shadow-xs">
              <div class="overflow-x-auto w-full">
                      <div class="flex space-x-2">
                        {{ $event:= .Params.event }}
                          <div class="text-center rounded-lg border py-4 px-8 flex items-center justify-center w-1/4 aspect" style="border-radius: var(--radius-sm);">
                              <a href="/tags/{{ .Params.tournament | urlize | lower }}">
                                <img alt={{ .Params.tournament }} class="mx-auto"  src="/images/{{ if $event }}{{.Params.event | urlize | lower }}-{{ .Params.season }}{{else}}{{ .Params.tournament | urlize | lower }}{{end}}.png" width="auto" style="max-height: 50px"></a>
                          </div>
                          <div class="text-center rounded-lg border py-4 px-8 flex items-center justify-center w-1/4 aspect" style="border-radius: var(--radius-sm);">
                            <a href="/tags/{{ .Params.teamname | urlize | lower }}">
                              <img alt={{ .Params.teamname }} class="mx-auto" src="/images/{{ .Params.teamname | urlize | lower }}.png" width="auto" style="max-height: 50px"></a>
                        </div>
                          <div class="text-left px-2 py-4 rounded-lg grid grid-cols-2 gap-1 border-1 items-center w-1/2" style="padding-left:35px; border-radius: var(--radius-sm);">
                              <div>
                                  <p>Skin for:
                                  <a class="font-bold" href="{{.Params.carlink}}">{{ .Params.car }}</a></p>
                              </div>
                              {{ if $event }}
                              <div>
                                <p>Event:
                                  <a href="/tags/{{.Params.event | urlize}}" class="font-bold">{{ .Params.event }}</a>
                                </p>
                              </div>
                              {{ else }}
                              <div>
                                <p>Championship:
                                  <a href="/tags/{{.Params.tournament | urlize }}" class="font-bold">{{ .Params.tournament }}</a>
                                </p>
                              </div>
                              {{ end }}
                              <div>
                                  <p>Racing Season:
                                  <a href="/tags/{{ .Params.season }}" class="font-bold">{{ .Params.season }}</a></p>
                              </div>
                              <div>
                                  <p>Contain:
                                  <b class="font-bold">{{ .Params.quantity }} skin{{if eq .Params.quantity 0}}{{ else }}s{{end}}</b></p>
                              </div>
                          </div>
                          <div class="text-left py-4 px-8 rounded-lg border grid gap-1 items-center w-1/5" style="border-radius: var(--radius-sm);">
                              <div><p>Creator: </p>{{ if .Params.creatorlink }} <a href="{{ .Params.creatorlink }}" class="font-bold" target="_blank"> {{else}}<a href="/tags/{{ .Params.creator | urlize }}" class="font-bold">{{end}}{{ $creatorfull:= .Params.creatorfull}}
                                {{ if $creatorfull }} {{ .Params.creatorfull }} {{else}} {{ .Params.creator }} 
                                  {{end}}
                              </a></div>        
                              
                          </div>
                      </div>
                  </div>
              </div>
              {{ end }}
          <br>
          <div class="row items-start justify-between">
            {{ $tags:= .Params.tags }}
            {{ if $tags }}
              <div class="lg:col-12 mb-10 flex items-center lg:mb-0">
                <h6 class="mr-3">{{ T "tags" }}:</h6>
                <ul>
                  {{ range $i,$p:= $tags }}
                    <li class="inline-block">
                      <a
                        class="btn btn-link"
                        href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
                        {{ . }}
                      </a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            {{ end }}
          </div>
          <!-- comments 
          {{ if site.Config.Services.Disqus.Shortname }}
            <div class="mt-20">
              {{ template "_internal/disqus.html" . }}
            </div>
          {{ end }}
        </article>
      </div> -->

      <!-- Related posts -->
      {{ $related := .Site.RegularPages.Related . | first 6 }}
      {{/*  {{ $related = $related | first 3 }}  */}}
      {{/*  {{ $related = where (where site.Pages "Params.tags" "intersect" (slice .Params.manu .Params.class )) "Permalink" "!=" .Page.Permalink }}  */}}
      {{ with $related }}
        <div class="section pb-0">
          <h4 class="h5 mb-2"><i class="fa fa-bars mr-2"></i>Other similar skins</h4>
          <div class="row gx-2" style="margin-right: calc(var(--bs-gutter-x) / -10); margin-left: calc(var(--bs-gutter-x) / -4)">
            {{ range $related | first 6}}
            {{ if ne .Section "skins"  }}
            {{ else }}
            <div class="lg:col-12 md:col-4" style="margin-bottom: -4px;">
                {{ partial "components/related-card" .}}
              </div>
              {{ end }}
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
